<!DOCTYPE html>
<html>
<head>
  <title>BookClub</title>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="./public/styles.css" title="text/css" />
  <%# <%= stylesheet_link_tag    './public', media: 'all' %> %>
  <%= javascript_include_tag 'application' %>
</head>
  <body>
    <h1>All Books</h1>
    <header>
      <ul class="topnav">
        <a id="home" href="/" class="menu">Home</a>
        <a id="books" href="/books" class="menu">Books</a>

      </ul>
    </header>
    <section class='main'>
      <% @books.each do |book| %>
        <h2><%= book.title %></h2>
        <p>Number of Pages: <%= book.number_of_pages %></p>
      <% end %>
    </section>
  </body>
</html>
