
<section id='main'>
  <h1>Book Statistics</h1>
  <section id="stats">
    <section class="stats-card" id="top-book-ctn">
      <h2>Top Books</h2>
      <br>
      <% @top_books.each do |book| %>
      <section id="top-book-card-<%= book.id %>">
        <h3><%= link_to book.title, book_path(book) %></h3>
        <br>
        <p>Average Rating: <%= book.average_review.round(2) %></p>
        <br>
      </section>
      <% end %>
    </section>

    <section class="stats-card" id="btm-book-ctn">
      <h2>Worst Books</h2>
      <br>
      <% @bottom_books.each do |book| %>
      <section id="btm-book-card-<%= book.id %>">
        <h3><%= link_to book.title, book_path(book) %></h3>
        <br>
        <p>Average Rating: <%= book.average_review.round(2) %></p>
        <br>
      </section>
      <% end %>
    </section>

    <section class="stats-card" id="top-reviewers-ctn">
      <h2>Top Reviews</h2>
      <br>
      <% @top_reviewers.each_with_index do |reviewer, idx| %>
      <article class="top-reviewer-<%= idx %>">
        <h3>User Name: <%= link_to reviewer[0], user_path(reviewer[0]) %></h3>
        <br>
        <p>Review Count: <%= reviewer[1] %></p>
        <br>
      </article>
      <% end %>
    </section>
  </section>

  <section id="sort-methods">
    <ul>
      <li><%= link_to 'Highest Average Rating', books_path(sort:['avg_review','DESC']) %></li>
      <li><%= link_to 'Lowest Average Rating', books_path(sort:['avg_review','ASC']) %></li>
      <li><%= link_to 'Highest Number of Pages', books_path(sort:['pages','DESC']) %></li>
      <li><%= link_to 'Lowest Number of Pages', books_path(sort:['pages','ASC']) %></li>
      <li><%= link_to 'Highest Number of Reviews', books_path(sort:['reviews','DESC']) %></li>
      <li><%= link_to 'Lowest Number of Reviews', books_path(sort:['reviews','ASC']) %></li>
    </ul>
  </section>

  <h1>All Books</h1>
  <section class='book-ctn'>
    <% @books.each do |book| %>
    <section class='book-card' id="book-card-<%= book.id %>">
      <h1><%= link_to book.title, book_path(book) %></h1>
      <br>
      <img src="<%= book.book_cover_url %>" alt="book cover image">
      <br>
      <br>
      <h3>Average Book Rating: <%= book.average_review.round(2) if book.average_review %></h3>
      <br>
      <p>Total Reviews: <%= book.reviews.count %></p>
      <p>Number of Pages: <%= book.number_of_pages %></p>
      <p>Author(s):
      <% book.authors.each do |author| %>
        <%= link_to(author.name, author_path(author))%>
      <% end %>
      </p>
      <p>Year Published: <%= book.year_published %></p>
      <br>
      <br>
    </section>
    <% end %>
  </section>
</section>
