<section class='main'>
  <h1>All Books</h1>

  <section id="stats">
    <section id="top-books">
      <ul>
        <% @top_books.each do |book| %>
        <li><%= book.title %></li>
        <% end %>
      </ul>
    </section>

    <section id="btm-books">
      <ul>
        <% @bottom_books.each do |book| %>
        <li><%= book.title %></li>
        <% end %>
      </ul>
    </section>
  </section>

  <section class='book-ctn'>
    <% @books.each do |book| %>
    <section class='book-card' id="book-card-<%= book.id %>">
      <h2><%= link_to book.title, book_path(book) %></h2>
      <p>Average Book Rating: <%= book.average_review %></p>
      <p>Total Reviews: <%= book.reviews.count %></p>
      <img src="<%= book.book_cover_url %>" alt="book cover image">
      <p>Number of Pages: <%= book.number_of_pages %></p>
      <p>Author(s):
      <% book.authors.each do |author| %>
        <%= link_to(author.name, author_path(author))%>
      <% end %>
      </p>
      <p>Year Published: <%= book.year_published %></p>
    </section>
    <% end %>
  </section>
</section>
