<section id='main'>
  <h1>All Books</h1>

  <section id="stats">
    <section id="top-books">
      <ul>
        <br>
        <% @top_books.each do |book| %>
        <li><%= link_to book.title, book_path(book) %></li>
        <% end %>
        <br>
      </ul>
    </section>

    <section id="btm-books">
      <ul>
        <br>
        <% @bottom_books.each do |book| %>
        <li><%= link_to book.title, book_path(book) %></li>
        <% end %>
        <br>
      </ul>
    </section>

    <section id="top-reviewers-ctn">
      <% @top_reviewers.each_with_index do |reviewer, idx| %>
      <article class="top-reviewer-<%= idx %>">
        <p>User Name: <%= link_to reviewer[0], user_path(reviewer[0]) %></p>
        <p>Review Count: <%= reviewer[1] %></p>
      </article>
      <% end %>
    </section>
  </section>

  <section id="sort-methods">
    <ul>
      <%= link_to 'Highest Average Rating', books_path(sort:['AVG(reviews.rating)','DESC']) %>
      <%= link_to 'Lowest Average Rating', books_path(sort:['AVG(reviews.rating)','ASC']) %>
      <%= link_to 'Highest Number of Pages', books_path(sort:['books.number_of_pages','DESC']) %>
      <%= link_to 'Lowest Number of Pages', books_path(sort:['books.number_of_pages','ASC']) %>
      <%= link_to 'Highest Number of Reviews', books_path(sort:['COUNT(reviews.id)','DESC']) %>
      <%= link_to 'Lowest Number of Reviews', books_path(sort:['COUNT(reviews.id)','ASC']) %>
    </ul>
  </section>

  <section class='book-ctn'>
    <% @books.each do |book| %>
    <section class='book-card' id="book-card-<%= book.id %>">
      <h2><%= link_to book.title, book_path(book) %></h2>
      <p>Average Book Rating: <%= book.average_review %></p>
      <p>Total Reviews: <%= book.reviews.count %></p>
      <img src="<%= book.book_cover_url %>" alt="book cover image">
      <p>Number of Pages: <%= book.number_of_pages %></p>
      <p>Author(s):
      <% book.authors.each do |author| %>
        <%= link_to(author.name, author_path(author))%>
      <% end %>
      </p>
      <p>Year Published: <%= book.year_published %></p>
    </section>
    <% end %>
  </section>
</section>
