<div class="form-title">
<h1>New Book Form</h1>
</div>
<br>
<br>
<% @book.errors.full_messages.each do |msg| %>
<%= msg %>
<% end %>

<div class="form-field">
<%= form_for @book do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <br>
  <br>
  <%= f.label :published %>
  <%= f.number_field :year_published %>
  <br>
  <br>
  <%= f.label :pages %>
  <%= f.number_field :number_of_pages, min: 1 %>
  <br>
  <br>
  <%= f.label :image %>
  <%= f.text_field :book_cover_url %>
  <br>
  <br>
  <%= label_tag :authors %>
  <%= text_field_tag :authors %><br />
  <br>
  <br>
  <%= f.submit 'button', :class => 'submit-class-here'%>
<% end %>
</div>
