<%= link_to 'delete_book', book_path(@book), method: :delete %>
<%= link_to 'Add Review', new_book_review_path(@book) %>

<section class="main">
  <h1><%= @book.title %></h1>
  <section class='book-card' id=<%= @book.id %>>
    <img src=<%= @book.book_cover_url %> alt="Book cover">
    <p>Number of Pages: <%= @book.number_of_pages %></p>
    <p>Author(s):
    <% @book.authors.each do |author| %>
    <%= link_to(author.name, author_path(author)) %>
    <% end %>
    </p>
    <p>Year Published: <%= @book.year_published %></p>
    <p id='average_book_review'>
      Average Book Review: <%= @book.average_review %>
    </p>

    <div class="review-description" %>
      <h2>Author's Reviews</h2>
      <% @book.reviews.each do |review| %>
      <br>
      <div id="review-description-<%= review.id %>">
      <h3>Title: <%= review.title %></h3>
      <p>User Name: <%= link_to review.username, user_path(review.username) %></p>
      <p>Rating: <%= review.rating %></p>
        <div class='book-review-card'>
          <p>Description: <%= review.text %></p>
        </div>
      </div>
      <% end %>
    </div>
  </section>
</section>

<section id='statistics'>
  <h2>Author's Top Reviews</h2>
  <div class="book-review-statistics-top" id=<%= @book.id %>>
    <% @top_three_reviews.each do |review| %>
    <br>
    <div id="statistics-top-<%= review.id %>">
      <h3>Title: <%= review.title %></h3>
      <p>Review Rating: <%= review.rating %></p>
      <p>User Name: <%= link_to review.username, user_path(review.username) %></p>
    </div>
    <% end %>
  </div>

  <div class="book-review-statistics-bottom" id=<%= @book.id %>>
    <h2>Author's Bottom Reviews</h2>
    <% @bottom_three_reviews.each do |review| %>
    <br>
    <div id="statistics-bottom-<%= review.id %>">
      <h3>Title: <%= review.title %></h3>
      <p>Review Rating: <%= review.rating %></p>
      <p>User Name: <%= link_to review.username, user_path(review.username) %></p>
    </div>
    <% end %>
  </div>
</section>
