<section id="main">
  <% if @user_reviews[0].class != String %>
    <h1><%= @user_reviews.first.username %></h1>
    <section id="review-ctn">
      <% @user_reviews.each do |review| %>
      <section id="review-card-<%= review.id %>">
        <h3>Title: <%= review.title %></h3>
        <p>Rating: <%= review.rating %></p>
        <p>Created At: <%= review.created_at %></p>
        <p>Description: <%= review.text %></p>
        <p>Book: <%= review.book.title %></p>
        <img src="<%= review.book.book_cover_url %>" alt="book cover">
        <%= link_to 'Delete Review', book_review_path(review.book, review), method: :delete %>
      </section>
      <% end %>
    </section>
  <% else %>
    <h1><%= @user_reviews %></h1>
    <h2>No reviews for this user</h2>
  <% end %>
</section>
